<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark fw-semibold" asp-area="" asp-controller="Home" asp-action="Index">
            <i class="bi bi-house-door-fill me-1"></i> Home
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark fw-semibold" asp-area="" asp-controller="Escola" asp-action="Index">
            <i class="bi bi-building me-1"></i> Escola
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark fw-semibold" href="#" onclick="site.teste()">
            <i class="bi bi-flask me-1"></i> Teste
        </a>
    </li>
</ul>
