<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Escola" asp-action="Index">Escola</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark"onclick="site.teste()">Teste</a>
    </li>
</ul>