@using SenaiMvc.Models.Escola

@model EscolaModel

<h1>Escola</h1>

<form method="post" asp-action="Form" asp-controller="Escola">

<div class="mb-3">
	<input type	="hidden" asp-for="Id">

	<label class="form-label">Email address</label>
	<input type="text" class="form-control" asp-for="Nome">
	@Html.ValidationMessageFor(mbox => mbox.Nome, "", new { @class = "text-danger" })
</div>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
	<button class="btn btn-primary" type="submit">Salvar</button>
</div>
<div class="row">
	<div class="col-md-5">
		<label class="form-label">Rua</label>
		<input type="text" class="form-control" asp-for="Endereco.Rua"/>
	</div>
	<div class="col-md-5">
		<label class="form-label">Bairro</label>
		<input type="text" class="form-control" asp-for="Endereco.Bairro"/>
		</div>
	<div class="col-md-2">
		<label class="form-label">Número</label>
		<input type="number" class="form-control" asp-for="Endereco.Rua"/>
	</div>
	<div class="row">
		<div class="col-md-6">
			<label class="form-label">Estado</label>
			<input type="text" class="form-control" asp-for="Endereco.Estado"/>
		</div>
	</div>
	<div class="col-md-6">
		<label class="form-label">Cidade</label>
		<input type="text" class="form-control" asp-for="Endereco.Cidade"/>
	</div>
</div>
</form>